.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-md);
    padding: var(--spacer-md);
    background-color: var(--light);
}

.nav > h3 {
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    text-align: center;
}

.nav__content {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--dark);
    gap: var(--spacer-lg)
}

.nav__content__links, .nav__content__buttons {
    display: flex;
    gap: calc(var(--spacer) / 2);
    padding: 0;
    margin: 0;
}

.nav__content__buttons {
    justify-content: flex-end;
}

.nav__content-cart {
    display: flex;
    gap: 4px;
}

.nav li {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .nav {
        gap: var(--spacer);
        padding: var(--spacer);
        flex-direction: row;
        align-items: stretch;
    }

    .nav > h3 {
        text-align: left;
    }

    .nav__content {
        justify-content: space-between;
    }

    .nav__content__buttons {
        padding-right: var(--spacer);
    }
}