#nav-main {
    background-color: var(--jet);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

#nav-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#nav-user {
    color: var(--medium-turq);
}

.navbar-title {
    color: var(--raisin-black);
}
