.card-backdrop {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    overflow: scroll !important;

}