.store {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    background-color: var(--light);
}

.store__grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacer-md);
    gap: var(--spacer-lg);
    grid-auto-rows: 1fr;
}

.message {
    display: flex;
    height: 100%;
    flex-grow: 1;
    padding: 20% 0;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    .store__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .store__grid {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacer-md)
    }
}

@media only screen and (min-width: 992px) {
    .store__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacer-md)
    }
}

@media only screen and (min-width: 1200px) {
    .store__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacer)
    }
}