.cart {
    display: flex;
    flex-direction: column;
    padding: var(--spacer-lg) var(--spacer);
    background-color: var(--light);

}

.cart__container {
    display: flex;
    flex-direction: column-reverse;
} 

.cart__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 var(--spacer);
    gap: var(--spacer);
}

.cart__info {
    padding: var(--spacer-md);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacer);
}

.cart__info ul {
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .cart__container {
        flex-direction: row;
    }

    .cart__items {
        width: 70%;
    }

    .cart__info {
        width: 30%;
    }
}

@media only screen and (min-width: 1600px) {
    .cart {
        padding: var(--spacer);
    }

    .cart__items {
        gap: calc(var(--spacer) / 2);
    }
}