h4.title {
    font-size: 1.3em;
    letter-spacing: 1px;

    margin: 3rem 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.button {
    width: 50%;
    background-color: var(--jet);
    border: solid 1px transparent;
    padding: 4.3px;
    margin: .5rem 0;
    color: var(--seashell);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    transition: .17s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

#grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    flex-grow: 1;
}

@media screen and (min-width: 1080px) {
    .button {
        font-size: 1.1em;
    }
}