@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* -- Colors -- */
    --black: #000100;
    --dark: #615756;
    --light: #f4f5f4;
    --primary: #574ae2;

    /* -- Fonts -- */
    --ff: 'Roboto', sans-serif;

    /* Font-weight */
    --fw-n: 300;
    --fw-r: 400;
    --fw-sb: 600;
    --fw-b: 900;

    /* Font-size */
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-p: 1rem;
    
    /* -- Spacing -- */
    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);

    /* -- Misc -- */
    --shadow: 00 1rem rgba(0, 0, 0, .25);
    --br: 8px;
}

body {
    font-family: var(--ff);
    padding: 0;
    margin: 0;
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 95%;
    max-width: 28ch;
}

h1 {
    font-size: var(--fs-2);
}

h2 {
    font-size: var(--fs-3);
}

h3 {
    font-size: var(--fs-4);
}

p {
    font-size: var(--fs-p);
    line-height: 38px;
    max-width: 38ch;
    font-weight: var(--fw-n);
}

.bg-dark {
    background: var(--dark) !important;
    color: var(--light) !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 600px) {
    :root {
        --spacer: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    :root {
         /* Font-size */
        --fs-2: 3.5rem;
        --fs-3: 3rem;
        --fs-4: 2.35rem;
        --fs-p: 1.1rem;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --spacer: 2rem;
    }
} 

@media only screen and (min-width: 1200px) {
    :root {
        --spacer: 2.25rem;

        /* Font-size */
        --fs-2: 3.75rem;
        --fs-3: 3.25rem;
        --fs-4: 2.5rem;
        --fs-p: 1.2rem;
    }
}

@media only screen and (min-width: 1600px) {
    :root {
        --spacer: 5rem;

        --fs-p: 1.5rem;
    }

    p {
        max-width: 58ch;
    }
}