#storeitem-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    flex-grow: 1;
}

#storeitem-image {
    max-width: 100%;
}

#storeitem-image img {
    width: 100%;
}

#storeitem-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

#name-desktop {
    display: none;
}

@media screen and (min-width: 1080px) {
   #name-mobile {
    display: none;
   } 

   #name-desktop {
    display: block;
   }
}